*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-size: 3vw;
}
header,article,footer{
    width: 100%;
    min-height: 200px;
    border: 2px solid black;
    margin-top: 12px;
}
header{
    padding: 10px;
    display: flex;
    align-items: center;
}
header div, header nav{
    width: 50%;
    height: 80px;
    border: 2px solid black;
    text-align: center;
}
article{
    padding: 10px;
    display: flex;
    align-items: center;
}
section,aside{
    width: 50%;
    height: 80px;
    text-align: center;
    border: 2px solid black;
}
footer{
    text-align: center;
}