*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width: 100%;
    min-height: 60vh;
    border: 10px solid green;
    background-color: #0b6287;
}
div{
    width: 200px;
    height: 120px;
    /* margin: 20px; */
    padding: 15px;
    display: inline-block;
    text-align: center;
    border: 2px solid greenyellow;
    color: #fff;
}
.positioned01{
    position: fixed;
    top: 0px;
    left: 15%;
    background-color:#c1e317;
}
.positioned02{
    position: absolute;
    top: 35px;
    left: 13%;
    background-color:#17e34a;
}
.positioned03{
    position: relative;
    background-color: #e32b17;
}
.positioned04{
    position: static;
    background-color: #1751e3;
}